*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
/buildSrc/build/source-roots/buildSrc/source-roots.txt
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab_i
/buildSrc/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab_i.len
/buildSrc/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/
