<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sztangli.widgedemo">

    <!-- 连接网络权限，用于执行云端语音能力 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 读取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 读取联系人权限，上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 摄相头权限，拍照需要用到 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".base.app.WidgetDemoApplication"
        android:allowBackup="false"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 渠道名 -->
        <meta-data
            android:name="CHANNEL"
            android:value="${CHANNEL_VALUE}" />

        <activity android:name="com.example.sztangli.widgedemo.home.MainToolBarActivity" />
        <activity android:name="com.example.sztangli.widgedemo.expandabelListView.ExpandableToolBarActivity" />
        <activity android:name="com.example.sztangli.widgedemo.floatingButtom.FloatingButtonToolBarActivity" />
        <activity android:name="com.example.sztangli.widgedemo.popwindow.PoPWindowActiivty" />
        <activity android:name="com.example.sztangli.widgedemo.recycleListView.RecycleToolBarActivity" />
        <activity android:name="com.example.sztangli.widgedemo.shoppingCart.ShoppingCartActivity" />
        <activity android:name="com.example.sztangli.widgedemo.xunfeiVoice.XunfeiVoiceToolBarActivity" />
        <activity android:name="com.example.sztangli.widgedemo.articleShow.ArticleToolBarActivity" />
        <activity
            android:name="com.example.sztangli.widgedemo.coordinatorsample.CoordinatorToolBarActivity"
            android:theme="@style/AppTheme.windowTranslucent" />

        <activity android:name=".barcode.BarcodeActivity" />
        <!-- AliPay -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name="com.example.sztangli.widgedemo.pay.PayToolBarActivity" />
        <activity android:name="com.example.sztangli.widgedemo.wxapi.WXPayEntryActivity" />
        <activity android:name="com.example.sztangli.widgedemo.animation.AnimationToolBarActivity" />
        <activity android:name="com.example.sztangli.widgedemo.weather.WeatherActivity" />
        <activity
            android:name="com.example.sztangli.widgedemo.welcome.WelcomeActivity"
            android:theme="@style/AppTheme.welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.sztangli.widgedemo.video.VideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <!-- AliPay -->
    </application>

</manifest>